/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-jan-2019, 12:16:09
    Author     : Nick ten Caat
*/



.groepenpage input[type=submit]:hover {
    background-color: rgba(190,190,190,0.6);
}

.groepenpage input[type=submit]{
    border: none;
    text-align:center;
    height: 60px;
    float: left;
    background-color:rgb(255,255,255);
    opacity:0.8;  
    display: block;
    text-align: center;
    padding: 20px;
    color: darkblue;
    font-size: 25px;

}

#formbox{
    
}