/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7-jan-2019, 11:52:58
    Authors     : Yannik Eisinga
                : Twan Verdel
*/

/*OPENINGSPAGINA*/
#middlebox{
    min-height: 800px;
    height: auto;
}

#notulentiles {
    padding-top: 50px;
    height: 650px;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.8);
    float: left;
}

#phpbox{
    padding-top: 50px;
    height: 650px;
    width: 75%;
    float:left;
    background-color: rgba(190,190,190,0.6);   
}

#phpbox table{
    margin: auto;
}

#phpbox th{
    text-align: left;
    font-size: 20px;
}
#phpbox td{
    width: 215px;
    color: white;
    font-size: 19px;
    font-weight: bold;
}

#phpbox a{
    font-style: italic;
    font-weight: normal;
}

#notulentiles ul {
    list-style-type: none;
    float: left;
    padding: 10px;
    font-size:25px;
}


#notulentiles li a {
    display: block;
    padding: 20px;
}

#notulentiles li a:hover {
    background-color: rgba(190,190,190,0.6);
}

/*NOTULEN UPLOADEN*/

.notulenupload{
    width: 27%;
    background-color: white;
    opacity: 0.9;
    height:650px;
    padding-top:10px;
    margin: auto;
    border-radius: 25px;
}

.notulenupload a{
    color: darkblue;
}

.notulenupload p{
    color: #1c65bd;
}

textarea {
    resize: none;
}

.upload_form{
    padding-left: 0px;
    padding: 6px;
}


.a{
    color: black;
    text-decoration: underline;
    font-size: 16pt;   
}

.a:hover{
    color: grey;
}

/*SEE NOTULEN.CSS*/
#seenotulen{
    width: 27%;
    background-color: white;
    opacity: 0.9;
    height: auto;
    padding-top:10px;
    margin: auto;
    border-radius: 25px;
}

#seenotulen h3{
    color: black;
    font-size: 21px;
    margin: 5px;
}

#seenotulen a{
    color: darkblue;
}

#seenotulen p{
    color: #1c65bd;
}

/* ========================================================================
                                RESPONSIVE FOR MOBILE
 ==========================================================================*/
@media screen and (max-width: 600px) {
    div#middlebox{
        max-height: 1250px;
    }
    
    div#notulentiles{
        width: 100%;
        height: 500px;
    }
    
    div#phpbox{
        width: 100%;
    }
    
    div#notulentiles ul {
     display: inline;   
    }
    
    div#tilecontainer{
        padding-left: 10px;
        padding-right: 0px;
    }
    
    div.notulenupload{
        width: 100%;
        height: 625px;
    }
    
    div#seenotulen{
        width: 100%;
        height: auto;
    }
}

/*=================================================================
                    RESPONSIVE FOR TABLET
==================================================================*/

@media only screen and (max-width: 1000px) and (min-width: 600px) {
    div#notulentiles{
        height: 750px;
    }
    
    div.notulenupload{
        width: 50%;
        height: 625px;
    }
    
    div#seenotulen{
        width: 50%;
        height: auto;
    }
    
    div#phpbox{
        height:750px;
    }
}