/*
    Created on : 17-dec-2018
    Author     : Remy Conen
*/

/*RESETS BROWSER*/
html, body{
    padding: 0px;
    margin: 0;
    padding: 0;
    font-family: arial;
}

/* BACKGROUND SITE */
body {
    height: 100%;
    background-image: url("../img/bg.svg");
    background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}



/*CONTAINER HOLDING THE WEBSITE*/

#mainContainer{
    height: 540px;
    width: 1920px;
    background-color: black;
    margin: auto;
    
}

