
/*RESETS BROWSER*/
* {
    padding: 0px;
    margin: 0;
    padding: 0;
    font-family: arial;
}

/*LINKS*/
a {
    text-decoration:none;
    color: #1c65bd ;
}

#headertxt a:hover{
    border-bottom: 3px solid #1c65bd;
}


/* BACKGROUND SITE */
body {
    height: 100%;
    background-image: url("../img/bg.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



/*CONTAINER HOLDING THE WEBSITE*/

#mainContainer{
    height: 100%;
    width: 100%;
    background-color: transparent; 
}

/*BOX THAT HOLD THE TILES*/

#middlebox{
    height: 700px;
    width: 100%;
    margin-top: 100px;
    background-color: rgba(255,255,255,0.3);
}

/* Tiles */

#tilecontainer{
    height: 600px;
    width: 96%;
    padding-left: 25px;
    padding-right: 25px;
}

.calender{
    height: 500px;
    width: 640px;
    margin-top: 50px;
    background-color: rgba(255,255,255,0.6);
    float: left;
}

.tilecal{
	border: 0;
	width: 640px;
	height: 500px;
	overflow: hidden;
}


.tile{
    height: 236px;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    background-color: rgba(255,255,255,0.6);
    float: left;
    border-radius: 10%;
}

.tile:hover {
    background-color: rgba(190,190,190,0.6);
}

/*EVALUATIE*/
.linkforms{
    height: auto;
    width: auto;
    margin: 20px auto;
    text-align: center;
}

/* HEADER WITH LOGO'S */

#header{
    width: 100%;
    height: 200px;
    background-color: white;
    opacity: 0.9;
}

/* HEADER TEXT*/

#headertxt{
    width:600px;
    height:100px;
    float:right;
    background-color: transparent;

}

#headertxt ul li{
    display: inline;
    font-size:25px;
}

.language{
    float:left;
    width:250px;
    height:50px;
    margin-top: 50px;
    padding-left: 15px;
}


.login{ 
    float:left;
    width:120px;
    height: 35px;
    margin-top: 50px;
    padding-right: 8px;
    padding-left: 15px;
    border-right: 4px solid #1c65bd;
}

.home{ 
    float:left;
    width:60px;
    height: 35px;
    margin-top: 50px;
    padding-left: 8px;
    padding-right: 25px;
    border-right: 4px solid #1c65bd;
}



/*LOGO HEADER*/

#logo{
    height: 200px;
    width: 400px;
    background-color: transparent;
    float: left;
}

#logo img{
    height: 200px;
    width: auto;
}


/* FOOTER WITH ALL THE CONTENT */

footer{
    height: 50px;
    width: 100%;
    /*  padding-top: 40px; */
    background-color: dodgerblue;
    opacity: 0.9;
    position: relative;
    bottom: 0;
}

footer p{
    font-size: 25px;
    display: inline-block;
    position: relative;
    top: 10.5px;
    right: 40px;
    float: right;
}

footer a{
    font-size: 25px;
    color: white;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0,50,255, 1);
    border-radius: 2px;
    position:relative;
    top: 10px;
}

footer a:hover{
    background-color: rgba(0,50,255, 0.6);
}

footer a:active{
    background-color: rgba(0,50,255, 0.2);
}

#search{
    height: 49px;
    width: 249px;
}

.search input[type=text] {
    border: 2px solid #ccc;
}

p{
    font-size: 20px;
    font-weight: bold;
    color: white; 
    text-align: center;
}

#footercopyright{
    width: 100%;
    height: 20px;
    float: left;
    background: black;
}

h3{
    font-size: 11px;
    text-align: center;
    color: white;
}

.vl{
    border-left: 6px solid lightskyblue;
    height: 240px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-top: 10px;
}


/*IMG*/

.imgmain{
    height: 160px;
    width: 160px;
    margin-left: 20px;
    margin-top: 20px
}

.zoektext{
    height: 49px;
    width: 249px;
}

.ptile{
    font-size: 25px;
    font-weight: bold;
    color: black; 
    text-align: center;
    text-transform: uppercase;
}

/*SUBMIT*/
input[type=submit]{
    padding: 7px;
}

/* DISCLAIMER */


#disclaimertext{
    height: 400px;
    width: 700px;
    border: 2px solid #008B8B;
    background: white;
    margin-left: auto;
    margin-right: auto; 
}

h2{
    text-align: center;
    margin-top: 20px

}

/* ========================================================================
                                RESPONSIVE FOR MOBILE
 ==========================================================================*/
@media screen and (max-width: 600px) {
    /*HEADER*/
    div#header{
        width: 100%;
        height: 300px;
    }

    div#headertxt {
        width: 100%;
        height: 100px;
        background-color: rgba(255,255,255,0.8);
        float: left;
        margin-left: 0px;
    }

    div.home{
        width: 67px;
        height: 100px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 10px;
        border-right:none;
    }

    div.login{
        width:120px;
        height:100px;
        margin-left: 10px;
        padding-left: 0px;
        padding-right: 0px;
        border-right: none;
    }

    div.language{
        width:150px;
        height:100px;
        padding-left: 0px;
    }

    /*Contentboxes*/
	
	

	.tilecal{
		border: 0;
		width: 100%;
		height: 300px;
		overflow: hidden;
		
	}

    div#middlebox {
        width: 100%;
        height: 2100px;
    }

    div.calender {
        width: 90%;
        height: 300px;
    }

    /* FOOTER */
    footer{
        height: 120px;
        width: 100%;
        /*  padding-top: 40px; */
        background-color: dodgerblue;
        opacity: 0.9;
    }

    footer p{
        font-size: 20px;
        display: inline-block;
        text-align: left;
        position: relative;
        left: 10px;
        top: 30px;
    }

    footer a{
        font-size: 25px;
        color: white;
        margin-left: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgba(0,50,255, 1);
        border-radius: 2px;
        position:relative;
        top: 15px;
        left: 20px;
    }

    footer a:hover{
        background-color: rgba(0,50,255, 0.6);
    }

    footer a:active{
        background-color: rgba(0,50,255, 0.2);
    }

    /*DISCLAIMER*/
    div.disclaimertext{
        height: 700px;
        width: 75%;
        border: 2px solid #008B8B;
        background: white; 
    }

    /*MOBIEL AFSLUITEN*/    
}

/*=================================================================
                    RESPONSIVE FOR TABLET
==================================================================*/

@media only screen and (max-width: 1000px) and (min-width: 600px) {
    /*HEADER*/
    div#header{
        width: 100%;
        height: 200px;
    }

    div#headertxt {
        width: 350px;
        height: 100px;
        background-color: rgba(255,255,255,0.8);
        float: left;
        margin-left: 10px;

    }

    div.home{
        width: 67px;
        padding-right: 0px;
        padding-left:0px;
        margin-left: 0px;
        border-right: none;
    }

    div.login{
        width:120px;
        padding-left: 0px;
        padding-right: 0px;
        border-right: none;
        margin-left: 10px;
    }

    div.language{
        width:150px;
        height:100px;
        margin-left: 2px;
        padding-left: 0px;
    }

    /*Contentboxes*/

    div#middlebox {
        width: 100%;
        height: 800px;
        margin-top: 50px;
    }

    div#tilecontainer{
        padding-left: 10px;
        padding-right: 0px;
    }

	.tilecal{
		border: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		
	}
	
    div.calender {
        width: 450px;
        height: 450px;
		margin-top: 0px;
    }

    div.tile{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 25px;
        height: 225px;
        width: 200px;
    }

    .imgmain{
        height:175px;
        width: 175px;
        margin-left: 12.5px;
    }

    /* FOOTER */
    footer{
        height: 120px;
        width: 100%;
        /*  padding-top: 40px; */
        background-color: dodgerblue;
        opacity: 0.9;
    }

    footer p{
        font-size: 20px;
        position: relative;
        top: 50px;
        right: 120px;
    }

    footer a{
        font-size: 25px;
        color: white;
        margin-left: 200px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgba(0,50,255, 1);
        border-radius: 2px;
        position:relative;
        top: 20px;
        right: 30px;
    }

    footer a:hover{
        background-color: rgba(0,50,255, 0.6);
    }

    footer a:active{
        background-color: rgba(0,50,255, 0.2);
    }
    /*TABLET AFSLUITEN*/    
}
