
/*RESETS BROWSER*/
* {
    padding: 0px;
    margin: 0;
    padding: 0;
    font-family: arial;
}

/*LINKS*/
a {
	text-decoration:none;
	color: #1c65bd ;
}

#headertxt a:hover{
	border-bottom: 3px solid #1c65bd;
}


/* BACKGROUND SITE */
body {
    height: 100%;
    background-image: url("../img/bg.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



/*CONTAINER HOLDING THE WEBSITE*/

#mainContainer{
    height: 100%;
    width: 100%;
    background-color: transparent; 
}

/*BOX THAT HOLD THE TILES*/

#middlebox{
    height: 700px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 400px;
    background-color: rgba(255,255,255,0.3);
}

/* Tiles */

#tilecontainer{
    height: 600px;
    width: 96%;
    padding-left: 25px;
    padding-right: 25px;
}

.calender{
    height: 500px;
    width: 500px;
    margin-top: 50px;
    background-color: rgba(255,255,255,0.6);
    float: left;
}



.tile{
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    background-color: rgba(255,255,255,0.6);
    float: left;
}


/* HEADER WITH LOGO'S */

#header{
    width: 100%;
    height: 200px;
    background-color: white;
    opacity: 0.9;
}

/* HEADER TEXT*/
#headertxt{
    width:600px;
    height:100px;
    float:right;
    background-color:grey;

}

#headertxt ul li{
	display: inline;
	font-size:25px;
}

.language{
    float:left;
    width:250px;
    height:50px;
	margin-top: 50px;
}

.person{
    float:left;
    width:200px;
    height:50px;
	margin-top: 50px;
}

.login{
    float:left;
    width:125px;
    height: 50px;
	margin-top: 50px;
}


/*LOGO HEADER*/

#logo{
    height: 200px;
    width: 400px;
    background-color: grey;
    float: left;
}

#logo img{
    height: 200px;
    width: auto;
}


/* FOOTER WITH ALL THE CONTENT */

#footer{
    height: 270px;
    width: 100%;
    padding-top: 40px;
    float: left;
    background-color: white;
    opacity: 0.9;
}

/*IMG*/

.imgmain{
    height: 200px;
    width: 200px;
    
    
}