/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-jan-2019, 11:11:53
    Author     : Johan
*/


div.tipdoos {
    width: 400px;
    height: 480px;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10%;
}
input[type=text].tipdoos {
    width: 378px;
    height: 30px;
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
}
textarea.tipdoos {
    width: 378px;
    height: 100px;
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
    resize: none;
}
input[type=submit].tipdoos, input[type=reset].tipdoos {
    background-color: lightgray;
    height: 50px;
    width: 400px;
    font-size: 20px;
    
}
p.tipdoos {
   font-size: 20px;
   margin-bottom: 10px;
}
p.periode {
   font-size: 20px; 
   float: left;
   margin-left: 35px;
   margin-right: 35px;
   margin-bottom: 20px;
}
div.clear {
    clear: both;
}
