/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-jan-2019, 11:11:53
    Author     : Johan
*/

div.tipdoos {
    width: 400px;
    height: 600px;
    margin: auto;
    background: rgba(119, 119, 119, 0.2);
}
input[type=text].tipdoos {
    width: 378px;
    height: 30px;
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
}